@import url(styles/header.css);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBECEE;
    color: #FFFFFF;
    font-family: "Poppins", "Josefin Sans";
    font-size: 16px;
    font-weight: 400;
}

.container {
    display: flex;
    align-items: center;
}

.cabeçalho {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__titulo,
.container__titulo--negrito {
    font-family: var(--fonte-secundarioS);
    font-size: 30px;
}

.container__titulo {
    font-weight: 400;
    display: block;
}

.container__titulo--negrito {
    font-weight: 700;
}

.opções {
    display: flex;
}

.opções__item {
    padding: 0 1em;
    text-transform: uppercase;
}

.opções__link {
    text-decoration: none;
    color: var(--preto);
}

#escola {
    background-image: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 44px 0;
}

.escola-div-conteúdo {
    width: 35%;
}

.escola-título {
    padding: 24px 0;
}

.escola-imagem {
    width: 25%;
}

#programação {
    background-color: #FFFFFF;
    color: #2073c0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 44px 0;
}

.programação-div-conteúdo {
    width: 35%;
}

.programação-título a {
    padding: 24px 0;
}

.programação-imagem {
    width: 25%;
}

#estudante {
    background-color:#dbdbdb;
    color: black;
}

.estudante-título {
    text-align: center;
    padding: 50px 0;
}

.estudante-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.estudante-div {
    text-align: center;
}

.estudante-imagem {
    width: 120px;
    border-radius: 50%;
}

.estudante-icone {
    width: 24px;
}

.rodape {
    background-color: black;
    text-align: center;
}

.rodape-imagem {
    height: 80px;
    padding: 12px 0;
}

.texto-rodape {
    color: #FFFFFF;
}

