* {
    margin: 0;
    padding: 0;
}

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --branco-transparente: #ffffff85;
    --roxo: #7918F2;
    --roxo-escuro: #4e109b;
    --cabeçalho: #1C1C1C;
    --banner: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
    --carrossel: #292929;
    --estudantes: #202020;
    --contato: #1a1a1a;
    --fonte-principal: 'Poppins';
    --fonte-secundária: 'Josefin Sans';
}

body {
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-weight: 400;
    font-size: 16px;
}

/*CABEÇALHO*/

.cabeçalho {
    justify-content: space-around;
    background: var(--cabeçalho);
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 1;
}

.cabeçalho__conteúdo {
    align-items: center;
    display: flex;
}

.cabeçalho__imagem {
    width: 60px;
}

.cabeçalho__título {
    font-family: var(--fonte-secundária);
    padding: 0em 0.5em;
    font-weight: 500;
}

.cabeçalho__link {
    text-decoration: none;
    color: var(--branco);
    padding: 0em 1em;
    font-weight: 500;
}

.cabeçalho-lista {
    padding-block: 1.5em;
}

.cabeçalho-lista__disciplinas {
    border-radius: 0em 0.5em 0.5em 0.5em;
    background-color: var(--cabeçalho);
    position: absolute;
    display: none;
    top: 100%;
}

.cabeçalho-lista__item {
    text-decoration: none;
    color: var(--branco);
    padding: 0.6em 1em;
    display: block;
}

.cabeçalho-lista:hover .cabeçalho-lista__disciplinas {
    display: block;
}

.cabeçalho-lista__item:hover,
.cabeçalho__item:hover {
    background-color: var(--preto);
}

/*BANNER*/

.banner {
    background: var(--banner);
    padding: 4em;
    text-align: center;
}

.banner__título {
    font-weight: 600;
}

.banner__texto {
    padding: 0.5em;
}

.banner__pesquisa {
    background-color: transparent;
    color: var(--branco);
    border-radius: 2em;
    border: 1px solid;
    padding: 1em;
    width: 35%;
}

.banner__pesquisa::placeholder {
    color: var(--branco-transparente);
}

.banner__pesquisa::-webkit-search-cancel-button {
    display: none;
}

/*CARROSSEL*/

#carrossel {
    background: var(--carrossel);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 4em;
}

.carrossel__conteúdo {
    width: 35%;
}

.carrossel__título {
    color: var(--roxo);
}

.carrossel__imagem {
    padding: 1em;
    width: 25%;
}

/*ESTUDANTES*/

#estudante {
    background: var(--estudantes);
    padding: 4em 0em;
}

.estudante__título {
    text-transform: uppercase;
    padding-bottom: 1em;
    color: var(--roxo);
    text-align: center;
}

.estudante__conteúdo {
    grid-template-columns: 20% 20% 20% 20% 20%;
    display: grid;
}

.estudante-div {
    text-align: center;
}

.estudante-div__imagem {
    width: 40%;
}

.estudante-div__ícone {
    width: 35px;
    margin: 1px;
}

/*CONTATO*/

.contato {
    background: var(--contato);
    padding: 4em 0em;
}

.contato__título {
    padding-bottom: 1em;
    color: var(--roxo);
    text-align: center;
}

.contato__conteúdo {
    justify-content: center;
    display: flex;
}

.contato__formulário {
    border: 5px solid var(--roxo);
    background: transparent;
    border-radius: 1em;
    padding: 3em;
    width: 85%;
}

.contato__lista {
    grid-template-columns: 25% 75%;
    display: grid;
}

.contato__item {
    text-align: center;
    padding: 1em;
}

.contato__email,
.contato__nome {
    background: transparent;
    border-radius: 0.5em;
    color: var(--branco);
    padding: 0.5em;
    width: 100%;
} 

.contato__mensagem {
    background: transparent;
    border-radius: 0.5em;
    color: var(--branco);
    padding: 0.5em;
    height: 115px;
    resize: none;
    width: 100%;
}

.contato__enviar {
    background: var(--roxo);
    border-radius: 1.25em;
    color: var(--branco);
    cursor: pointer;
    padding: 1em;
    height: 50px;
    width: 25%;
}

.contato__enviar:hover {
    background-color: var(--roxo-escuro);
}

/*RODAPÉ*/

.rodapé {
    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
    padding: 1em 0em;
}

.rodapé__itens {
    justify-content: center;
    align-items: center;
    display: flex;
}

.rodapé__imagem {
    padding: 0.5em 0.5em 0em 0.5em;
    width: 3%;
}

.colégio {
    padding-top: 0.5em;
}

/*BOTÕES*/

.botões {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}