

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBECEE;
    color: #FFFFFF;
    font-family: "Poppins", "Josefin Sans";
    font-size: 16px;
    font-weight: 400;
}

.cabeçalho {
    background-color: rgb(45, 52, 75);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
}

.cabeçalho-imagem {
    width: 80px;
    border-radius: 50%;
    padding: 5px 5px;
    height: auto;
}

.foto-corpo {
    width: 30%;
    padding: 40px;
}

#escola {
    background-image: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 44px 0;
}

.escola-div-conteúdo {
    width: 35%;
}

.escola-título {
    padding: 24px 0;
}

.escola-imagem {
    width: 25%;
}

#programação {
    background-color: #FFFFFF;
    color: #2073c0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 44px 0;
}

.programação-div-conteúdo {
    width: 35%;
}

.programação-título a {
    padding: 24px 0;
}

.programação-imagem {
    width: 25%;
}

#estudante {
    background-color:#dbdbdb;
    color: black;
}

.estudante-título {
    text-align: center;
    padding: 50px 0;
}

.estudante-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.estudante-div {
    text-align: center;
}

.estudante-imagem {
    width: 120px;
    border-radius: 50%;
}

.estudante-icone {
    width: 24px;
}

.rodape {
    background-color: black;
    text-align: center;
}

.rodape-imagem {
    height: 80px;
    padding: 12px 0;
}

.texto-rodape {
    color: #FFFFFF;
}

