* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cabeçalhoR {
    background-color:#4B0082;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    position: fixed;
}

.cabeçalho-imagemR {
    width: 15%;
}

.cabeçalho-lista-itemR {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.linkR {
    text-decoration: none;
    color: white;
}

.link-2R {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: medium;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
}

#introdução {
    background-image: linear-gradient(#4B0082,#BA55D3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 44px 0;
    padding-top: 300px;
}

.introdução-div-conteúdo {
    width: 35%;
}

.introdução-título {
    padding: 24px 0;
}

.sinaleiro-imagem {
    width: 10%;
}