.cabeçalho {
    background-color:#221a6e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
    width: 15%;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}


.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.opções__botão:checked~.lista-menu {
    display: block;
    width: auto;
}

.opções__botão {
    display: none;
}

.opções__botão:checked~.opções__rotulo>.opções__item {
    background: var(--azul-degrade);
    color: var(--branco);
}   

.opções__item {
    padding: 2em 1em;
}

.lista-menu__item:hover {
    background: var(--azul-degrade);
}

.lista-menu__item:hover>.lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
}

.cabeçalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.link {
    text-decoration: none;
    color: var(--branco-principal);
}
