.cabeçalho {
    background-color:#221a6e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

.cabeçalho-imagem {
    width: 15%;
    height: 15%;
}

.cabeçalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.link {
    text-decoration: none;
    color: var(--branco-principal);
}
